@import url('../index.css');

.banner-experience
{
    padding-top: 10%;
}
@media only screen and (max-width:850px)
{
    .banner-experience
    {
        padding-top: 20%;
    }
}
.timeline-xp ul
{
    list-style: none;
    padding: 5%;
}
.timeline-xp ul li
{
    width: 50%;
    padding: 2%;
}

.timeline-xp ul li:nth-child(odd)
{
    border-right: 1px solid lightslategray;
    clear: both;
    position: relative;
    right: -1px;
    text-align: left;
}

.timeline-xp ul li:nth-child(even)
{
    border-left: 1px solid lightslategray;
    float: right;
    clear: both;
    position: relative;
    text-align: left;
    padding-bottom: 4%;
}

.timeline-xp ul li:nth-child(odd):before
{
    content: '';
    box-shadow: 0 4px 8px 0 #bd2130 ;
    width: 10px;
    height: 10px;
    background-color: #bd2130 ;
    border-radius: 10px;
    position: relative;
    left: 103.5%;
    display: block;
    top: 15px;
}

.timeline-xp ul li:nth-child(even):before
{
    content: '';
    box-shadow: 0 4px 8px 0 #bd2130 ;
    width: 10px;
    height: 10px;
    background-color: #bd2130 ;
    border-radius: 10px;
    display: block;
    position: relative;
    top: 15px;
    left: -5.5%;
}

.exp-content
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;    
    padding: 2%;
    margin-left: 0;
    margin-right: 0;
}
.exp-content:hover
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.exp-content-header
{
    margin-bottom: 10px;
}
.exp-content-image
{
    max-width: 100px;
    max-height: 100px;
}


@media only screen and (max-width:900px)
{
    .timeline-xp ul li
    {
        width: 90%;
        padding: 2%;
    }
    .timeline-xp ul li:nth-child(odd)
    {
        border-left: 1px solid lightslategray;
        border-right:none;
        clear: both;
        float: right;
        position: relative;
        text-align: left;
        position: relative;
        left:-0px;
    }
    .timeline-xp ul li:nth-child(odd):before
    {
        content: '';
        box-shadow: 0 4px 8px 0 #bd2130 ;
        width: 10px;
        height: 10px;
        background-color: #bd2130 ;
        border-radius: 10px;
        position: relative;
        left: -4.2%;
        display: block;
        top: 15px;
    }
    .exp-content
    {
        margin-left: 2%;
    }
    .timeline-xp ul li:nth-child(even)
    {
        border-left: 1px solid lightslategray;
        float: right;
        clear: both;
        position: relative;
        text-align: left;
        padding-bottom: 4%;
        left: -0px;
    }
    .timeline-xp ul li:nth-child(even):before
    {
        content: '';
        box-shadow: 0 4px 8px 0 #bd2130 ;
        width: 10px;
        height: 10px;
        background-color: #bd2130 ;
        border-radius: 10px;
        display: block;
        position: relative;
        top: 15px;
        left: -4.2%;
    }
}