@import url('../index.css');

.banner-self-info
{
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}
.info-sec-header
{
    margin-bottom: 5%;
}
@media only screen and (max-width: 575px)
{
    .info-sec-header
    {
        margin-bottom: 5%;
        text-align: center;
    }
}
.skill-progress-bar
{
    padding-left:0%;
    padding-right: 0%;
}
.skill-bar-section
{
    margin-bottom: 10px;
}
.skill-bar
{
    height: 5px;
}