@import url('../index.css');

.banner-style-block
{
    background-image: url('../assets/prof-2.jpg');
    background-size: cover;
    padding-top: 10%;
    background-position-x: -170px;
}
.banner-shadow
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-color: rgb(66, 65, 65);
    opacity: 0.5;
}

.banner-header-text
{
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;   
    padding: 5%;
}
.banner-header-content
{
    z-index: 1;
}

.social-link
{
    background-color: #393E46;
    position: relative;
    right: -51px;
    padding-left: 0;
}
.social-link-list
{
    position: relative;
    left :-22px;
}

@media only screen and (max-width:1000px)
{
    [class*="banner-header-text"]
    {
        margin: 0;
    }
    
}

@media only screen and (max-width:1000px)
{
    [class*="social-link"]
    {
        display: none;
    }
}

@media only screen and (max-width:1000px)
{
    [class*="col-"]
    {
        width:100%;
    }
}

@media only screen and (max-width:600px)
{
    [class*="banner-btn-sec"]
    {
        text-align: center !important;
        margin-bottom: 10px;
    }
}

.v-nav-logo:hover
{
    color:#bd2130;
}