@import url('../index.css');

.banner-about
{
    margin-left: 20%;
    margin-right: 20%;
}
.banner-about-wrapper
{
    padding-top: 10%;
}

@media only screen and (max-width:580px)
{
    .banner-about-wrapper
    {
        padding-top: 20%;
    }
}