html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.dark1
{
  color: #222831 !important;
}
.dark2
{
  color: #393E46 !important;
}
.text-primary
{
  color: #bd2130 !important;
  font-weight: 800;
}
.text-sec
{
  color:#EEE !important;
}
