@import url('../index.css');

.proj-slide-box
{
    padding:5%
}
.proj-title
{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 5%;
}
.carousel-indicators > li
{
    background-color:#222831;
}
.carousel-indicators > li :active
{
    background-color:#bd2130;
}